

.slider{
    display: flex;
}
.card{
    width: 334px;
    height: 200px;
    border-style: solid;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
/*.inCard{*/
/*    border-style: solid;*/
/*}*/
.info{
    float: left;

}